.btn {
  width: 131px;
  height: 40px;

  margin-left: 65%;
  border-radius: 24px;
  background-color: #DE177C;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex
}

.nav-space {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  color: #29524A;

  font-weight: 500;
  color: #29524A;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;

  padding-top: 5px;
  padding-bottom: 5px;

}

.nav-item :hover {
  box-shadow: 0px 0px 5px #DE177C;
  border-bottom: 1px #EAB0CD solid;
  // border-bottom: 1px #EAB0CD solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex
}

.center-s {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row-s {
  padding: 32px 0px;
  width: 100%;
  height: 435px;
  background-color: var(--landing-color);
  font-family: Lexend;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
  display: inline-table;

}

.right-s {
  width: 438px;
  height: 160px;
  top: 137px;
  left: 300px;
  position: absolute;
}

.img-contn {
  width: 644px;
  height: 403px;
  top: 16px;
  left: calc(50% + 300px);
  position: absolute;
  transform: translateX(-50%);
}

.img-cd {
  width: 100%;
  height: 100%;
  border-radius: 0px 24px 24px 0px;
  display: flex;
  margin-left: 755px;
  padding-inline: 5px;
}


.box-a h1 {
  width: 87px;
  height: 25px;
  top: 32px;
  font-size: 20px;
  line-height: 25px;
}

// }
.column-u {
  position: relative;
  bottom: 300%;
}

.column-u h4 {
  width: 422.4px;
  height: 25px;
  top: 207px;
  left: 32px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 25px;
  color: #FBFBF4;
  position: absolute;
  top: 70%;
}

.column-u p {
  width: 469px;
  height: 40px;
  top: 240px;
  left: 32px;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  color: #FBFBF4;
  position: absolute;
  top: 80%;
}

.container-a {
  position: relative;
  text-align: left;
  padding: 32px 0px;
}
.container-a h1 {
  color:  #141414;

/* Title */
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

/* H3/medium */
font-family: Lexend;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.box-a img {
  width: 533px;
  height: 300px;
  border-radius: 24px;
  border: 1px;
  top: 81px;
  object-fit: cover;
  // padding: 32px 0px;

}

.card-w {
  position: relative;
  width: 422px;
  height: 260px;
  border-radius: 24px;
  background:  #FBFBF4;
}
.card-body h5 {
  color: var(--Brunswick-green, #29524A);
/* H3/medium */
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.card-body p {
  color:  #1C1C1C;

/* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-w .card-img-top {
  width: 422px;
  height: 260px;
  border-radius: 24px 24px 0px 0px;
  border: 1px;
  object-fit: cover;
}

.row-oneimg-colmun {
  position: relative;

}

.row-oneimg-colmun {
  color: #141414;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
  margin-left: 18%;

}

.image-container {
  position: relative;
  display: inline-block;

}

.row-oneimg-colmun button {
  padding: 10px 20px;
  background: #DE177C;
  border-radius: 24px;
  color: #FBFBF4;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.row-oneimg-img {
  width: 1090px;
  height: 390px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 25.25);
  border-radius: 24px;
  overflow: hidden;
  border: 1px #C8C8C8 solid;
  object-fit: cover;
  background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 40px 50px 39px;
  color: white;
  background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}

.image-overlay h4,
.image-overlay p {
  margin: 0;
  font-family: "Lexend";
  background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}
.row-oneimg h3 {
  color: #141414;
/* Title */
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
/* H3/medium */
font-family: Lexend;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.row-oneimg p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(251, 251, 244, 1);
  width: 838px;
  word-wrap: break-word;
  background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}

// .row-k{
//   position: relative;
// }
// .column-k h4 {
//   position: absolute;
//   bottom: 100px;
// }
.container-d {
  width: 1090px;
  margin: 0 auto;
}

.row-k-div {
  display: flex;
}

.row-k-div h3 {
  color: #141414;
  /* Title */
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  /* H3/medium */
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.row-k-bt {
  margin-left: 1400px;
  color: #DE177C;
  /* Button/medium */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
  border: none;
  width: 104px;
  height: 33px;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px #DE177C solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex
}

// .row-k-bt :hover {
//   border: #DE177C;
// }
.img-k {
  width: 310px;
  height: 401px;
  border-radius: 24px;
  object-fit: cover;
  margin-top: 50px;
  margin-left: 15%;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(7, 7, 7, 0.02) 74.31%, rgba(7, 7, 7, 0.37) 87.83%);
}

.colmun-k h4 {
  position: absolute;
  bottom: 35px;
  color: #FBFBF4;
  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  padding-left: 114px
}

.colmun-k p {
  position: absolute;
  bottom: 4px;
  padding-left: 114px;
  color: #FBFBF4;
  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.img-n {
  width: 310px;
  height: 401px;
  border-radius: 24px;
  object-fit: cover;
  margin-top: 50px;
  margin-left: 15%;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(7, 7, 7, 0.02) 74.31%, rgba(7, 7, 7, 0.37) 87.83%);
}

.colmun-n h4 {
  position: absolute;
  bottom: 35px;
  color: #FBFBF4;
  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  padding-left: 114px
}

.colmun-n p {
  position: absolute;
  bottom: 4px;
  padding-left: 114px;
  color: #FBFBF4;
  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.container-f {
  width: 100%;
  max-width: 100%;
  height: 314px;
  padding-left: 175px;
  padding-right: 175px;
  padding-top: 77px;
  padding-bottom: 77px;
  background: #29524A;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-shrink: 0;
  margin-top: 50px;
}

.main-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
}

.logo-container {
  height: 40px;
  position: relative;
}

.logo {
  left: 48px;
  top: 0px;
  color: #FBFBF4;
  font-size: 32px;
  font-family: Lexend;
  font-weight: 600;
  word-wrap: break-word;
}

.logo-icon {
  width: 40px;
  height: 40px;
  left: -50px;
  top: 2px;
  position: absolute;
}

.logo-icon div {
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #C8C8C8;
  border: 1px black solid;
}

.logo-icon div:last-child {
  left: 2px;
  top: 10px;
  color: black;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 600;
  word-wrap: break-word;
}

.description {
  width: 366px;
  color: #C8C8C8;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}

.social-icons {
  width: 256px;
  height: 40px;
  position: relative;
  gap: 8px;
  display: flex;
  justify-content: space-between;
}

.social-icon {
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  gap: 8px;
}

.social-icon div {
  width: 30px;
  height: 26px;
  background: #C8C8C8;
  gap: 8px;
}

.section-links {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
}

.section-title {
  color: #FBFBF4;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}

.section-link {
  color: #C8C8C8;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}
