<div class="center center-s">
  <div class="row row-s">
    <div class="col-sm-6">
      <div class="card-body-right right-s">
        <p class="card-text">Spark the wonder and creativity in young minds as they explore a vibrant world of art at
          our gallery</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-img-container img-cont">
        <img class="card-img img-cd" src="../assets/Photos/5713540.jpg">
      </div>
    </div>
  </div>
</div>
<div style="padding-left: 220px; padding-right: 220px;">
  <div class="container container-a mt-4 mb-4">
    <div class="box box-a">
      <h1 style="font-weight: 500;">Trending</h1>
      <div class="row">
        <div class="column col-6 column-u">
          <h4 style="font-weight: 500;">Urban art</h4>
          <p style="font-weight: 400;">From street art and graffiti to sculpture and sticker art, urban art is a diverse
            and dynamic form of expression</p>
          <img src="../assets/Photos/210623.jpg" style="width:100%">
        </div>
        <div class="column col-6 column-u">
          <h4 style="font-weight: 500;">Large-Scale Abstracts</h4>
          <p style="font-weight: 400;">Abstract art is not grounded in realistic visual perceptions, it abandons
            traditional ways of thinking
          </p>
          <img src="..//assets/Photos/Large-modern-art-painting-called-Graduation-Day.jpg" style="width:100%">
        </div>
      </div>
  
    </div>
  </div>
  <div>
    <div class="row row-card-img mt-4 mb-4">
      <h3>Tours</h3>
      <div class="col">
        <div class="card card-w h-100">
          <img src="..//assets/Photos/A-191108.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Full grouped tour</h5>
            <p class="card-text">Enjoy the tour around the gallery and explore the beauty of art with other visitors</p>
            <a href="#" class="btn btn-primary btn-card" style="  text-align: center;">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-w h-100">
          <img src="..//assets/Photos/Annotation 2023-11-12 132950.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Kids tour</h5>
            <p class="card-text">A special tour made for kids to help them understand secrets of art in a simple yet
              meaningful way </p>
            <a href="#" class="btn btn-primary" style="  text-align: center;">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-w h-100">
          <img src="..//assets/Photos/837b7a73fa84266e54a340e2e531dd50.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Private tour</h5>
            <p class="card-text">A private tour for those who loves to take their time while embracing the beautiful art
            </p>
            <a href="#" class="btn btn-primary" style="  text-align: center;">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-w h-100">
          <img src="..//assets/Photos/145.jpg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">Family tour</h5>
            <p class="card-text">A tour made for families with a discount for all of the family members</p>
            <a href="#" class="btn btn-primary" style="  text-align: center;">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row row-oneimg">
      <div class="column row-oneimg-colmun">
        <h3>What's new</h3>
        <div class="image-container">
          <img class="row-oneimg-img" src="..//assets/Photos/1628487281-renderfront-of-building.jpg">
          <div class="image-overlay d-flex">
            <div>
              <h4>We are celebrating our 50th anniversary!</h4>
              <p>50 years of creativity and hard work have passed since our first day.</p>
            </div>
            <button class="button">See more</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-k">
      <div class="row-k-div d-flex justify-content-between">
        <h3>Our members work</h3>
        <button class="row-k-bt">View more</button>
      </div>
      <div class="column col-4 colmun-k">
        <img src="..//assets/Photos/8477257-JMJCEZFC-7.jpg" class="img-k">
        <h4>Talal Ashbana / 25years</h4>
        <p>Freedom feelings</p>
      </div>
      <div class="column col-4 colmun-k">
        <img src="..//assets/Photos/quilcene trucks update EM.jpg" class="img-k">
        <h4>luke Zalanger / 30 years</h4>
        <p>In the plains</p>
      </div>
      <div class="column col-4 colmun-k">
        <img src="..//assets/Photos/15a213f51be144e3db573fb60f4899f6.jpg" class="img-k">
        <h4>Lana Michal / 23 years</h4>
        <p>Me, my cat and the moon</p>
      </div>
    </div>
    <div class="row row-n">
      <div class="column col-4 colmun-n">
        <img src="..//assets/Photos/image1.jpeg" class="img-n">
        <h4>Rosalea Lee / 13 years</h4>
        <p>Dream Unicorn</p>
      </div>
      <div class="column col-4 colmun-n">
        <img src="..//assets/Photos/3cecb2fd87805b21d84c779bb9e7c1d2.jpg" class="img-n">
        <h4>Ali Almokdam / 28 years</h4>
        <p>Queen of hearts</p>
      </div>
      <div class="column col-4 colmun-n">
        <img src="..//assets/Photos/additional_66267b990baf42f1f0dc40c9f7ed454207569473-AICC2-7.jpg" class="img-n">
        <h4>Madie Adam / 21 years</h4>
        <p>Mountain view</p>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
</div>
