<h1>Art Centred gallery</h1>
<div class="paragraph d-flex justify-content-between">
  <p>Welcome to our enchanting art gallery, Art Centred gallery, a haven where brushstrokes dance and colors speak. Step
    through our doors and immerse yourself in a world of artistic wonders. Every canvas tells a story, inviting you to
    embark on a journey of emotions, ideas, and inspiration. With carefully curated exhibitions and a passion for
    promoting both established and emerging artists, we strive to create an enriching and captivating experience for art
    enthusiasts of all backgrounds.
    At our art gallery, we believe that art has the power to transcend boundaries and connect people on a profound
    level. Whether you are a seasoned art collector, a curious enthusiast, or a family seeking a day of cultural
    exploration, our gallery offers a warm and welcoming atmosphere for all. Engage with the artwork, indulge in
    thought-provoking conversations, or simply find solace in the beauty that surrounds you. Our knowledgeable and
    friendly staff is always ready to guide you through the gallery, sharing insights and stories behind the art,
    further enhancing your visit.
    We are particularly passionate about nurturing the creativity of young minds. Our dedicated children's corner
    provides a space for budding artists to unleash their imagination through interactive activities and hands-on art
    experiences. Through workshops, guided tours, and special events, we aim to inspire the next generation of artists
    and foster a lifelong appreciation for the arts. Join us in nurturing a love for creativity, where children can
    explore their artistic potential and discover the joy of self-expression. At our art gallery, art is not just
    observed; it is experienced, embraced, and celebrated by young and old alike.</p>
  <div>
    <img src="..//..//..//assets/Photos/f1e12661a582c17761811f258ec2fe54.jpg"
      style="width: 422px;height: 236px; flex-shrink: 0; border-radius: 24px; background:lightgray 50% / cover no-repeat; object-fit: cover;">
    <div class="d-flex justify-content-between">
      <img src="..//..//..//assets/Photos/3A-Thomas20.jfif"
        style="width: 198px; height: 198px; flex-shrink: 0; border-radius: 24px; background: lightgray 50% / cover no-repeat; object-fit: cover;">
      <img src="..//..//..//assets/Photos/card_small.png"
        style="width: 198px; height: 198px; flex-shrink: 0; border-radius: 24px; background: lightgray 50% / cover no-repeat; object-fit: cover;">

    </div>
  </div>
</div>
<h3>Available jobs</h3>
<div class="card mb-3 card-women" style="max-width: 644px; width: 644px; height: 319px;">
  <div class="row g-0">
    <div class="col-md-6">
      <div class="card-body">
        <p class="card-text">Position: Tour guider</p>
          <div class="d-flex">
            <p class="card-text">Qualifications:</p>
            <p class="p-text">degree in art
              familiar with the gallery
              age ( 20 - 35 )</p>
          </div>
          <div class="d-flex">
            <p class="card-text">Duties: </p>
            <p class="p-text">accompany visitors in tours while talking about the gallery
              8 hours of work daily
              2 days off every week</p>
          </div>
          <div class="d-flex justify-content-end">
            <button class="row-k-bt" style="padding-top: 40px;align-items: end;">Learn more</button>
          </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-left: 11px;">
        <img src="..//..//..//assets/Photos/fd2cca230b6373007b64f9c536199f23.jpeg" class="img-fluid rounded-start"
          style="width: 310px; height: 319px; flex-shrink: 0; border-radius:0px 24px 24px 0px; object-fit: cover;">
      </div>
    </div>
  </div>
<div class="row row-card-img ">
  <div class="d-flex justify-content-between" style="padding-top: 60px;">
    <h3>Our publications</h3>
    <button class="row-k-bt">View more</button>
  </div>

  <div class="col">
    <div class="card card-w h-100">
      <img src="..//assets/Photos/il_570xN.2151095826_dka0.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">2023 published content</h5>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary btn-card" style="  text-align: center;">See more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col card-img-top-two">
    <div class="card card-w h-100">
      <img src="..//assets/Photos/new-paintings-web.jpg" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">2022 published content</h5>
        <div class="d-flex justify-content-end">
          <a href="#" class="btn btn-primary btn-card" style="  text-align: center;">See more</a>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between" style="padding-top: 60px;">
    <h3>Our staff</h3>
    <button class="row-k-bt">View more</button>
  </div>
  <div class="d-flex justify-content-between">
    <div class="card card-group" style="width: 199px; height: 286px; ">
      <img src="..//..//..//assets/Photos/images.jfif" class="card-img-top"
        style="width: 199px; height: 198px; border-radius: 24px 24px 0px 0px; background: lightgray 50% / cover no-repeat;object-fit: cover;">
      <div class="card-body">
        <h5>Ronald Rock</h5>
        <p class="card-text">Owner</p>
      </div>
    </div>
    <div class="card card-group" style="width: 199px; height: 286px; ">
      <img src="..//..//..//assets/Photos/Rectangle 9.jpg" class="card-img-top"
        style="width: 199px; height: 198px; border-radius: 24px 24px 0px 0px; background: lightgray 50% / cover no-repeat;object-fit: cover;">
      <div class="card-body">
        <h5>Bakke Moore </h5>
        <p class="card-text">Director</p>
      </div>
    </div>
    <div class="card card-group" style="width: 199px; height: 286px; ">
      <img src="..//..//..//assets/Photos/shutterstock_105623048_0.jpg" class="card-img-top"
        style="width: 199px; height: 198px; border-radius: 24px 24px 0px 0px; background: lightgray 50% / cover no-repeat;object-fit: cover;">
      <div class="card-body">
        <h5>Miranda Rose</h5>
        <p class="card-text">Editor</p>
      </div>
    </div>
    <div class="card card-group" style="width: 199px; height: 286px; ;">
      <img src="..//..//..//assets/Photos/Single_Women_Over_50-640x494.jpg" class="card-img-top"
        style="width: 199px; height: 198px; border-radius: 24px 24px 0px 0px; background: lightgray 50% / cover no-repeat;object-fit: cover;">
      <div class="card-body">
        <h5>Lily Bamstred </h5>
        <p class="card-text">Archivist</p>
      </div>
    </div>
    <div class="card card-group" style="width: 199px; height: 286px; ">
      <img src="..//..//..//assets/Photos/Depositphotos_209297650_m-2015.jpg" class="card-img-top"
        style="width: 199px; height: 198px; border-radius: 24px 24px 0px 0px; background: lightgray 50% / cover no-repeat;object-fit: cover;">
      <div class="card-body">
        <h5>Naomi Madison</h5>
        <p class="card-text">Marketing Director</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="card card-group" style="width: 199px; height: 286px; ">
      <img src="..//..//..//assets/Photos/ThinkstockPhotos-522762637_490x280.jpg" class="card-img-top"
        style="width: 199px; height: 198px; border-radius: 24px 24px 0px 0px; background: lightgray 50% / cover no-repeat;object-fit: cover;">
      <div class="card-body">
        <h5>Linda Mayson</h5>
        <p class="card-text">Art Handler</p>
      </div>
    </div>
    <div class="card card-group" style="width: 199px; height: 286px; ">
      <img src="..//..//..//assets/Photos/A-happy-single-man.jpg" class="card-img-top"
        style="width: 199px; height: 198px; border-radius: 24px 24px 0px 0px; background: lightgray 50% / cover no-repeat;object-fit: cover;">
      <div class="card-body">
        <h5>Steven Nodle</h5>
        <p class="card-text">Assistant</p>
      </div>
    </div>
    <div class="card card-group" style="width: 199px; height: 286px; ">
      <img src="..//..//..//assets/Photos/img_0018-1.jpg" class="card-img-top"
        style="width: 199px; height: 198px; border-radius: 24px 24px 0px 0px; background: lightgray 50% / cover no-repeat;object-fit: cover;">
      <div class="card-body">
        <h5>Jessica James</h5>
        <p class="card-text">Tour Guide</p>
      </div>
    </div>
    <div class="card card-group" style="width: 199px; height: 286px; ;">
      <img src="..//..//..//assets/Photos/1344822.png" class="card-img-top"
        style="width: 199px; height: 198px; border-radius: 24px 24px 0px 0px; background: lightgray 50% / cover no-repeat;object-fit: cover;">
      <div class="card-body">
        <h5>Martin Ryan</h5>
        <p class="card-text">Chief Assistant</p>
      </div>
    </div>
    <div class="card card-group" style="width: 199px; height: 286px; ">
      <img src="..//..//..//assets/Photos/single_men_article.jpg" class="card-img-top"
        style="width: 199px; height: 198px; border-radius: 24px 24px 0px 0px; background: lightgray 50% / cover no-repeat;object-fit: cover;">
      <div class="card-body">
        <h5>Markos Broke</h5>
        <p class="card-text">Tour Guide</p>
      </div>
    </div>
  </div>
</div>
