h1 {
  color: var(--black-100, #141414);

  /* Title */
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  /* H1/semibold */
  font-family: Lexend;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

// .paragraph {
//   width: 644px;
//   height: 458px;
//   flex-shrink: 0;
// }

.paragraph p {
  color: var(--black-50, var(--Black-50, #1C1C1C));

  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-women {
  width: 644px;
  height: 319px;
  border-radius: 24px;
  border: 1px solid var(--Gray-Light, #C8C8C8);
  background: var(--white, #FBFBF4);

  /* card */
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-text {
  color: var(--black-50, var(--Black-50, #1C1C1C));
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}

.p-text {
  color: var(--black-50, var(--Black-50, #1C1C1C));

  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.row-learn-bt {
  color: var(--Mexican-Pink, #DE177C);

  /* Button/medium */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: inline-flex;
  padding: 10px 10px 4px 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid var(--Mexican-Pink, #DE177C);
}

.card-w {
  position: relative;
  width: 422px;
  height: 260px;
  border-radius: 24px;
  background: #FBFBF4;
}

.card-body h5 {
  color: var(--Brunswick-green, #29524A);
  /* H3/medium */
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-body p {
  color: #1C1C1C;

  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-w .card-img-top {
  width: 422px;
  height: 260px;
  border-radius: 24px 24px 0px 0px;
  border: 1px;
  object-fit: cover;
}

// .row-card-img {
//   // padding-top: 30px;
//   margin-left: 300px;

// }
.row-card-img h3 {
  color: var(--black-100, #141414);
  /* Title */
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  /* H3/medium */
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 25px;
  // margin-left: 300px;

}

.btn {
  width: 131px;
  height: 40px;

  // margin-left: 65%;
  border-radius: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  color: var(--Mexican-Pink, #DE177C);
  background-color: #fff;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  border: 1px solid var(--Mexican-Pink, #DE177C);
}

.card-w .card-img-top-two {
  right: 350px;
}

.row-k-bt {
  margin-right: 45px;
  color: #DE177C;
  /* Button/medium */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
  border: none;
  width: 104px;
  height: 33px;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px #DE177C solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  width: 133px;
}

.card-group {
  width: 199px;
  height: 286px;
  flex-shrink: 0;
  border-radius: 24px;
  border: 1px solid var(--Gray-Light, #C8C8C8);
  background: var(--white, #FBFBF4);
}
