<div class="card card-mid mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <div class="card-body card-mid-text">
        <h6>Painting of the week</h6>
        <h5 class="card-title title">Don Pedro</h5>
        <p class="card-text text ">the painting is named dream road, made with passion and soft hands of a young man picturing his feature.</p>
        <div> 
          <button class="btn">See more</button>
        </div>
      </div>
    </div>
    <div class="col-md-8 card-mid-img">
      <img src="..//assets/Photos/67eMxJN.jpg"  class="img-fluid rounded-start" >
    </div>
  </div>
</div>
