.row-card {
  width: 1090px;
  height: 390px;
}
.card-mid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;
    border-radius: 24px;
    border: 1px solid var(--Gray-Light, #C8C8C8);
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.img-fluid {
    width: 1090px;
    height: 390px;
    border-radius: 0px 24px 24px 0px;
    background: lightgray 50% / cover no-repeat;
    object-fit: fill;
}

.col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-md-4 h6 {
    color: var(--black-100, #141414);

    /* H3/medium */
    font-family: Lexend;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.title {
    color: var(--black-50, var(--Black-50, #1C1C1C));

    /* H2/medium */
    font-family: Lexend;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.text {
    color: var(--black-50, var(--Black-50, #1C1C1C));

    /* Body/regular */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.col-md-4 .btn {
    // display: inline-flex;
    padding: 10px 20px;
    // justify-content: center;
    // align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: var(--Mexican-Pink, #DE177C);
    color: var(--white, #FBFBF4);

    /* Button/medium */
    font-family: Lexend;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: end;
    align-items: end;
}
.row-oneimg-colmun {
  position: relative;

}
.row-oneimg {
  width:100%;
  padding-left: 140px;
  margin-top: 35px;
}

.row-oneimg-colmun {
  color: #141414;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}

.image-container {
  position: relative;
  display: inline-block;
}

.row-oneimg-colmun button {
  padding: 10px 20px;
  background: #DE177C;
  border-radius: 24px;
  color: #FBFBF4;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.row-oneimg-img {
  margin-left: 220px;
  width: 1090px;
  height: 390px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 25.25);
  border-radius: 24px;
  overflow: hidden;
  border: 1px #C8C8C8 solid;
  object-fit: cover;
  background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}

.image-overlay {
  margin-left: 225px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 40px 50px 39px;
  color: white;
  background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}

.image-overlay h4,
.image-overlay p {
  margin: 0;
  font-family: "Lexend";
  background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}

.row-oneimg p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(251, 251, 244, 1);
  width: 838px;
  word-wrap: break-word;
  background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}
