<div class="card card-mid mb-3">
  <div class="row row-card">
    <div class="col-md-4">
      <div class="card-body card-mid-text">
        <h6>Painting of the week</h6>
        <h5 class="card-title title">Don Pedro</h5>
        <p class="card-text text ">the painting is named dream road, made with passion and soft hands of a young man picturing his feature.</p>
        <div>
          <button class="btn">See more</button>
        </div>
      </div>
    </div>
    <div class="col-md-8 card-mid-img">
      <img src="..//assets/Photos/67eMxJN.jpg"  class="img-fluid rounded-start" >
    </div>
  </div>
</div>
<div class="row row-oneimg">
  <div class="column row-oneimg-colmun">
    <div class="image-container">
      <img class="row-oneimg-img" src="..//assets/Photos/balloons-charity-colorful-1409716.jpg">
      <div class="image-overlay d-flex">
        <div>
          <h4>National day of Art fundraise party / 16 Nov 6:00 pm</h4>
          <p>Join us to help the art schools around the country</p>
        </div>
        <button class="button">See more</button>
      </div>
    </div>
  </div>
</div>
