<div style="padding-left: 220px; padding-right: 220px;">
  <div class="row row-k">
    <div class="row-k-div d-flex justify-content-between">
      <h3>Artists</h3>
      <button class="row-k-bt">View more</button>
    </div>
    <p class="pargraph">Get to know the life and work of many artists around the world and from different time lines.
      what they did, how the became artists, their journey through life and much more. Here are the most popular ones:
    </p>
    <div class="column col-4 colmun-k">
      <img src="..//assets/Photos/image.jpg" class="img-k">
      <h4>Leonardo da Vinci</h4>
      <p>1452 - 1519</p>
    </div>
    <div class="column col-4 colmun-k">
      <img src="..//assets/Photos/GettyImages_919641904-5d6e5ab.jpg" class="img-k">
      <h4>Michelangelo</h4>
      <p>1475 - 1564</p>
    </div>
    <div class="column col-4 colmun-k">
      <img src="..//assets/Photos/Portrait_de_Picasso,_1908.jpg" class="img-k">
      <h4>Pablo Picasso</h4>
      <p>1881 - 1973</p>
    </div>
  </div>
  <div class="row row-k">
    <div class="row-k-div d-flex justify-content-between" style="padding-top: 70px;">
      <h3>Paintings</h3>
      <button class="row-k-bt">View more</button>
    </div>
    <p class="pargraph">Enjoy world’s most famous pieces of art. The most wonderful art works that had been made through
      out history, all gathered for you in one place so you could learn more about the stories behind them. Check the
      most popular ones:
    </p>
    <div class="column col-4 colmun-k">
      <img src="..//assets/Photos/190430171751-mona-lisa.jpg" class="img-k">
      <h4>Mona Lisa</h4>
      <p>Leonardo da Vinci / 1503 - 1505</p>
    </div>
    <div class="column col-4 colmun-k">
      <img src="..//assets/Photos/van-gogh-starry-night-min.jpg" class="img-k">
      <h4>The Starry Night</h4>
      <p>Vincent van Gogh / 1889</p>
    </div>
    <div class="column col-4 colmun-k">
      <img src="..//assets/Photos/Johannes_Vermeer_1632-1675_-_The_Girl_With_The_Pearl_Earring_1665-e1435072137333.jpg"
        class="img-k">
      <h4>Girl with a Peral Earing</h4>
      <p>Johannes vermeer / 1665</p>
    </div>
  </div>
  <div class="row row-card-img mt-4 mb-4 d-flex justify-content-between">
    <div class="row-k-div d-flex justify-content-between" style="padding-top: 60px;">
      <h3>Art history and schools</h3>
      <button class="row-k-bt">View more</button>
    </div>
    <p class="pargraph">From the influential Bauhaus to contemporary Cuba, centres for studying art have shaped global
      culture over the past century.
    </p>
    <div class="col-6">
      <div class="card card-w h-100">
        <img src="..//assets/Photos/Annotation 2023-11-15 195304.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Newcastle University</h5>
          <p class="card-text">Partly indebted to the Bauhaus Preliminary Course, this encompassed an initial year of
            materials-focused experimentation</p>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-primary btn-card" style="  text-align: center;">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-w h-100">
        <img src="..//assets/Photos/Annotation 2023-11-15 201047.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Kunstakademie Düsseldorf</h5>
          <p class="card-text">If for art schools in the West the interwar period was one of experimentation, the two
            decades after the Second World War were a time of rapid growth.
          </p>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-primary btn-card" style="  text-align: center;">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>