<div class="row row-oneimg">
  <div class="column row-oneimg-colmun">
    <h3>Current exhibitions</h3>
    <div class="image-container">
      <img class="row-oneimg-img" src="..//assets/Photos/masthead-exhibitions-exported.jpg">
      <div class="image-overlay d-flex">
        <div>
          <h4>The work of London’s middle school students / 3 - 9 Nov</h4>
          <p>We present some of the great work which was made by the hands of great talented kids</p>
        </div>
        <button class="button">See more</button>
      </div>
    </div>
  </div>
</div>
<div class="container container-a mt-4 mb-4">
  <div class="box box-a">
    <h1 style="font-weight: 500;">Upcoming exhibitions</h1>
    <div class="row row-twoimg">
      <div class="column col-6 column-u">
        <h4 style="font-weight: 500;">Van Gogh at the seine / 12 - 18 Nov</h4>
        <p style="font-weight: 400;">Explore great paintings for Van Gogh</p>
        <img src="../assets/Photos/f9a7a187-484e-4821-b84a-79c836109029.jfif" style="width:100%">
      </div>
      <div class="column col-6 column-u">
        <h4 style="font-weight: 500;">Republic at Sea / 1 - 7 Dec</h4>
        <p style="font-weight: 400;">the story of how water has shaped the history of the Netherlands</p>
        <img src="..//assets/Photos/https___app.thefeedfactory.nl_api_assets_6537cb0cac07bf1ae5a4e03d_tentoonstelling_republiek_aan_zee_in_de_hoofdgalerij_-_credits_t-low-res.png" style="width:100%">
      </div>
    </div>

  </div>
</div>
