<div style="padding-left: 110px; padding-right: 110px;">
  <div class="row row-oneimg">
    <div class="column row-oneimg-colmun">
      <h3 style="padding-bottom: 24px;">Current exhibitions</h3>
      <div class="image-container">
        <img class="row-oneimg-img" src="..//assets/Photos/masthead-exhibitions-exported.jpg">
        <div class="image-overlay d-flex justify-content-end ">
          <div>
            <h4>The work of London’s middle school students / 3 - 9 Nov</h4>
            <p>We present some of the great work which was made by the hands of great talented kids</p>
          </div>
          <div>
            <button class="button">See more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-a mt-4 mb-4">
    <div class="box box-a " style="padding-left: 70px; padding-right: 150px;">
      <h1 style="font-weight: 500;padding-bottom: 24px;">Upcoming exhibitions</h1>
      <div class="row row-twoimg">
        <div class="column col-6 column-u">
          <h4 style="font-weight: 500;">Van Gogh at the seine / 12 - 18 Nov</h4>
          <p style="font-weight: 400;">Explore great paintings for Van Gogh</p>
          <img src="../assets/Photos/f9a7a187-484e-4821-b84a-79c836109029.jfif" style="width: 533px; height: 300px;">
        </div>
        <div class="column col-6 column-u">
          <h4 style="font-weight: 500;">Republic at Sea / 1 - 7 Dec</h4>
          <p style="font-weight: 400;">the story of how water has shaped the history of the Netherlands</p>
          <img
            src="..//assets/Photos/https___app.thefeedfactory.nl_api_assets_6537cb0cac07bf1ae5a4e03d_tentoonstelling_republiek_aan_zee_in_de_hoofdgalerij_-_credits_t-low-res.png"
            style="width: 533px; height: 300px;">
        </div>
      </div>

    </div>
  </div>
  <div class="container container-c mt-4 mb-4">
    <div class="box box-c" style="padding-left: 70px; padding-right: 150px;">
      <div class="rpw-twoimg-c d-flex justify-content-between">
        <h1 style="font-weight: 500;">Past exhibitions</h1>
        <button class="row-c-bt">View more</button>
      </div>
      <div class="row row-twoimg-c">
        <div class="column col-6 column-c">
          <h4 style="font-weight: 500;padding-bottom: 24px;">The great Indonesia exhibit</h4>
          <p style="font-weight: 400;">Learn more about the Indonesian culture</p>
          <img
            src="../assets/Photos/https___app.thefeedfactory.nl_api_assets_652561fd129c597d3ca2500b_4204_nk_dgit_digitale_beelden_02_10.jpg"
            style="width: 533px; height: 300px;">
        </div>
        <div class="column col-6 column-c">
          <h4 style="font-weight: 500;">Terra Incognita</h4>
          <p style="font-weight: 400;"> Australian Aboriginal art exhibition</p>
          <img src="..//assets/Photos/D.jpeg" style="width: 533px; height: 300px;">
        </div>
      </div>
    </div>
  </div>
  <div class="row row-card-img ">
    <h3 style="padding-left: 255px; padding-bottom: 24px;">Touring exhibitions</h3>
    <div class="d-flex justify-content-between" style=" padding-left: 250px; padding-right: 550px;">
      <div class="col">
        <div class="card card-w h-100">
          <img src="..//assets/Photos/rNgTSJVgfIo92Bg6tsDFJkvNJv1UkPYxjPH8rNiF.jpeg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">17th century tour</h5>
            <p class="card-text">Learn more about the seventeenth century with our tours</p>
            <div class="d-flex justify-content-end">
              <a href="#" class="btn btn-primary btn-card" style="  text-align: center;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col card-img-top-two">
        <div class="card card-w h-100">
          <img src="..//assets/Photos/2QfXKjjD59YUi7nPWCweiF0PYboFPGXedQ5ezAKu.jpeg" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">16th century tour</h5>
            <p class="card-text">The Tower of Babel’ and Great 16th Century Masters</p>
            <div class="d-flex justify-content-end">
              <a href="#" class="btn btn-primary btn-card" style="  text-align: center;">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
