.navbar {
  background-color: var(--light-color);
  width: 100%;
  height: 65px;
}

.nave {
  background-color: var(--dark-color);
  width: 100%;
  height: 65px;
  top: 65px;
  border: 10px solid var(--dark-color);
}

.nav .search {
  border-left: 1px solid var(--dark-color);
}

.btn {
  width: 95px;
  height: 40px;
  top: 12px;
  right: 20px;
  border-radius: 24px;
  padding: 10px 20px;
  gap: 10px;
  color: var(--white-color);
  background-color: var(--pink-color);
  position: absolute;
  text-align: center;
}

.navbar.iconify {
  width: 36.67px;
  height: 36.67px;
  top: 14px;
  left: 20px;
  border: 1.5px solid;
}

.navbar-nav {
  position: relative;
  border: 1px solid transparent;
  padding: 5px 20px;
  transition: 0.5s ease;
}

.nav-link::after {
  transition: all 0.2s;
}

.nav-link:hover {
  background-color: #EAB0CD;
  border-radius: 25px;
}

.nav-link:hover::after {
  content: '';
  height: 2px;
  width: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navbar-brand {
  width: 40px;
  height: 40px;
  top: 12px;
  left: 175px;
  border: 1px solid;
  font-size: 16px;
}

.navbar .navbar-nav .nav-link {
  color: #29524A;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
  color: var(--dark-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  width: 100%;
  height: 435px;
  top: 130px;
  background-color: var(--landing-color);
  font-family: Lexend;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
}

.card-body-right {
  width: 438px;
  height: 160px;
  top: 137px;
  left: 300px;
  position: absolute;
}

.card-img-container {
  width: 644px;
  height: 403px;
  top: 16px;
  left: calc(50% + 300px);
  position: absolute;
  transform: translateX(-50%);
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 0px 24px 24px 0px;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}


.box h1 {
  width: 87px;
  height: 25px;
  top: 32px;
  font-size: 20px;
  line-height: 25px;

}
.column {
  position: relative;
  bottom: 300%;
}
.column h4 {
  width: 422.4px;
  height: 25px;
  top: 207px;
  left: 32px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 25px;
  color: #FBFBF4;
  position: absolute;
  top: 70%;
}
.column p {
  width: 469px;
  height: 40px;
  top: 240px;
  left:32px ;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  // font-family: Lexend;
  color: #FBFBF4;
  position: absolute;
  top: 80%;

}.container {
  position: relative;
  text-align: left;
  // color: ;
}

.box img {
  width: 533px;
  height: 300px;
  border-radius: 24px;
  border: 1px;
  top: 81px;
  object-fit: cover;
}
.card {
  position: relative;
  width: 422px;
  height: 260px;
  border-radius: 24px;
}
.card .card-img-top{
  width: 422px;
  height: 260px;
  border-radius: 24px,24px,0px,0px;
  border: 1px;
  object-fit: cover;
  // object-position: center center;
  // object-fit: fill;
}
.card {
  object-fit: fill;
}
