<div class="sticky-top">
    <nav class=" nave navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main"
                aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="main">
                <a class="navbar-brand" href="#">
                    <img src="https://images.app.goo.gl/taXEDbXobopjMiqM8" alt="">
                </a>
                <form class="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
                <div class="search ps-3 pe-3 d-none d-lg-block">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <span class="iconify" data-icon="iconoir:profile-circle"></span>

                </div>
                <a class="btn btn-primary rounded-pill main-btn " href="#">Sign in</a>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="collapse navbar-collapse" id="main">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link ps-3 pe-3 p-lg-3 active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ps-3 pe-3 p-lg-3" href="#">Exhibitions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ps-3 pe-3 p-lg-3" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ps-3 pe-3 p-lg-3" href="#">Arts & Artists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ps-3 pe-3 p-lg-3" href="#">Education</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ps-3 pe-3 p-lg-3" href="#">About us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="center">
    <div class="row">
        <div class="col-sm-6">
            <div class="card-body-right">
                <p class="card-text">Spark the wonder and creativity in young minds as they explore a vibrant world of
                    art at our gallery</p>
            </div>
        </div>
        <div class="col-sm-6">
            <img class="card-img" src="../assets/Photos/5713540.jpg" style="width: 644px; border-radius: 0px, 24px, 24px, 0px;">
        </div>
    </div>
</div>