<div class="sticky-top">
  <!-- <nav class=" nave navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main" aria-controls="main"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="main">
        <a class="navbar-brand" href="#">
          <img src="https://images.app.goo.gl/taXEDbXobopjMiqM8" alt="">
        </a>
        <form class="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="search ps-3 pe-3 d-none d-lg-block">
          <i class="fa-solid fa-magnifying-glass"></i>
          <span class="iconify" data-icon="iconoir:profile-circle"></span>

        </div>
        <a class="btn btn-primary rounded-pill main-btn " href="#">Sign in</a>
      </div>
    </div>
  </nav> -->
  <div style="display: flex; height: 65px; position: relative; background: #29524A">
  <div style="">
    <div style="left: 48px; top: 5px; position: absolute; color: #FBFBF4; font-size: 24px; font-family: Lexend; font-weight: 500; word-wrap: break-word">Art Centred</div>
    <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute">
      <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: #D9D9D9; border: 1px #FBFBF4 solid"></div>
      <div style="left: 2px; top: 10px; position: absolute; color: #1C1C1C; font-size: 16px; font-family: Lexend; font-weight: 600; word-wrap: break-word">logo</div>
    </div>
  </div>
  <div style="padding-left: 20px; padding-right: 20px; padding-top: 10px; padding-bottom: 10px; left: 1170px; top: 12px; position: absolute; background: #DE177C; border-radius: 24px; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
    <div style="color: #FBFBF4; font-size: 16px; font-family: Lexend; font-weight: 500; word-wrap: break-word">Sign in</div>
  </div>
  <div style="width: 199px; padding-left: 16px; padding-right: 16px; padding-top: 5px; padding-bottom: 5px; left: 805px; top: 18px; position: absolute; border-radius: 24px; overflow: hidden; border: 1px #FBFBF4 solid; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
    <div style="color: #C8C8C8; font-size: 16px; font-family: Lexend; font-weight: 400; word-wrap: break-word">Search </div>
  </div>
  <div style="width: 30px; height: 30px; left: 1028px; top: 18px; position: absolute">
    <div style="width: 30px; height: 30px; left: 0px; top: 0px; position: absolute; border: 1px #FBFBF4 solid"></div>
    <div style="width: 9px; height: 12px; left: 10.50px; top: 6.47px; position: absolute; border: 1px #FBFBF4 solid"></div>
    <div style="width: 2.73px; height: 2.73px; left: 13.64px; top: 20.91px; position: absolute; background: #FBFBF4; border: 1px #FBFBF4 solid"></div>
  </div>
  <div style="width: 40px; height: 0px; left: 1082px; top: 12px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #C8C8C8 solid"></div>
  <div style="width: 40px; height: 40px; left: 1106px; top: 13px; position: absolute">
    <div style="width: 36.67px; height: 36.67px; left: 1.67px; top: 1.67px; position: absolute">
      <div style="width: 36.67px; height: 36.67px; left: 0px; top: 0px; position: absolute; background: rgba(251, 251, 244, 0.25); border: 1.50px #FBFBF4 solid"></div>
      <div style="width: 28.34px; height: 22.63px; left: 4.16px; top: 7.33px; position: absolute; background: #425168; border: 1.50px #FBFBF4 solid"></div>
    </div>
  </div>
</div>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="collapse navbar-collapse" id="main">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link ps-3 pe-3 p-lg-3 active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-3 pe-3 p-lg-3" href="#">Exhibitions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-3 pe-3 p-lg-3" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-3 pe-3 p-lg-3" href="#">Arts & Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-3 pe-3 p-lg-3" href="#">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ps-3 pe-3 p-lg-3" href="#">About us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="center center-s">
  <div class="row row-s">
    <div class="col-sm-6">
      <div class="card-body-right right-s">
        <p class="card-text">Spark the wonder and creativity in young minds as they explore a vibrant world of art at
          our gallery</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card-img-container img-cont">
        <img class="card-img img-cd" src="../assets/Photos/5713540.jpg">
      </div>
    </div>
  </div>
</div>

<div class="container container-a mt-4 mb-4">
  <div class="box box-a">
    <h1 style="font-weight: 500;">Trending</h1>
    <div class="row">
      <div class="column col-6 column-u">
        <h4 style="font-weight: 500;">Urban art</h4>
        <p style="font-weight: 400;">From street art and graffiti to sculpture and sticker art, urban art is a diverse
          and dynamic form of
          expression</p>
        <img src="../assets/Photos/210623.jpg" style="width:100%">
      </div>
      <div class="column col-6 column-u">
        <h4 style="font-weight: 500;">Large-Scale Abstracts</h4>
        <p style="font-weight: 400;">Abstract art is not grounded in realistic visual perceptions, it abandons
          traditional ways of thinking
        </p>
        <img src="..//assets/Photos/Large-modern-art-painting-called-Graduation-Day.jpg" style="width:100%">
      </div>
    </div>

  </div>
</div>
<!-- <div class="row" style="background-color: white;">
    <div class="slide-container">
      <div class="slide-content">
        <div class="card-wrapper">
          <div class="card">
            <div class="image-content">
              <span class="onerlay"></span>
              <div class="card-image">
                <img src="..//assets/Photos/A-191108.jpg" alt="" class="card-img-top">
              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
  </div> -->
<div>
  <div class="row  mt-4 mb-4">
    <div class="col">
      <div class="card card-w h-100">
        <img src="..//assets/Photos/A-191108.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn1 btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-w h-100">
        <img src="..//assets/Photos/Annotation 2023-11-12 132950.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn1 btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-w h-100">
        <img src="..//assets/Photos/837b7a73fa84266e54a340e2e531dd50.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn1 btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-w h-100">
        <img src="..//assets/Photos/145.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn1 btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="hotel mt-4 mb-4">
    <div class="container">
      <div class="card">
          <img src="..//assets/Photos/145.jpg">
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="main-container">
    <div class="logo-container">
      <div class="logo">Art Centred</div>
      <div class="logo-icon">
        <div></div>
        <div class="logo-text">AC</div>
      </div>
    </div>
    <div class="description">we will be happy to hear from you, follow us for our latest updates on social media</div>
    <div class="social-icons">
      <div class="social-icon"></div>
      <div class="social-icon"></div>
      <div class="social-icon"></div>
      <div class="social-icon"></div>
    </div>
  </div>
  <div class="section-links">
    <div class="section-title">FAQs</div>
    <div class="section-link">FAQs</div>
    <div class="section-link">The gallery</div>
    <div class="section-link">Join us</div>
  </div>
  <div class="section-links">
    <div class="section-title">Policies</div>
    <div class="section-link">Term & Conditions</div>
    <div class="section-link">Privacy</div>
    <div class="section-link">Cookies</div>
    <div class="section-link">Legal Information</div>
  </div>
  <div class="section-links">
    <div class="section-title">Other information</div>
    <div class="section-link">Jobs</div>
    <div class="section-link">Travel Guides</div>
    <div class="section-link">Site Index</div>
  </div>
</div>
