// .navbar {
//   background-color: var(--light-color);
//   width: 100%;
//   height: 65px;
// }

// .nave {
//   background-color: var(--dark-color);
//   width: 100%;
//   height: 65px;
//   top: 65px;
//   border: 10px solid var(--dark-color);
// }

// .nav .search {
//   border-left: 1px solid var(--dark-color);
// }

// .btn {
//   width: 95px;
//   height: 40px;
//   top: 12px;
//   right: 20px;
//   border-radius: 24px;
//   padding: 10px 20px;
//   gap: 10px;
//   color: var(--white-color);
//   background-color: var(--pink-color);
//   position: absolute;
//   text-align: center;
// }

// .navbar.iconify {
//   width: 36.67px;
//   height: 36.67px;
//   top: 14px;
//   left: 20px;
//   border: 1.5px solid;
// }

// .navbar-nav {
//   position: relative;
//   border: 1px solid transparent;
//   padding: 5px 20px;
//   transition: 0.5s ease;
// }

// .nav-link::after {
//   transition: all 0.2s;
// }

// .nav-link:hover {
//   background-color: #EAB0CD;
//   border-radius: 25px;
// }

// .nav-link:hover::after {
//   content: '';
//   height: 2px;
//   width: 100px;
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }

// .navbar-brand {
//   width: 40px;
//   height: 40px;
//   top: 12px;
//   left: 175px;
//   border: 1px solid;
//   font-size: 16px;
// }

// .navbar .navbar-nav .nav-link {
//   color: #29524A;
// }

// .navbar .navbar-nav .nav-link.active,
// .navbar .navbar-nav .nav-link:focus,
// .navbar .navbar-nav .nav-link:hover {
//   color: var(--dark-color);
// }

.center-s {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row-s {
  width: 100%;
  height: 435px;
  background-color: var(--landing-color);
  font-family: Lexend;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  position: relative;
}

.right-s {
  width: 438px;
  height: 160px;
  top: 137px;
  left: 300px;
  position: absolute;
}

.img-contn {
  width: 644px;
  height: 403px;
  top: 16px;
  left: calc(50% + 300px);
  position: absolute;
  transform: translateX(-50%);
}

.img-cd {
  width: 100%;
  height: 100%;
  border-radius: 0px 24px 24px 0px;
}

// .column-u {
//   float: left;
//   width: 50%;
//   padding: 10px;
// }


.box-a h1 {
  width: 87px;
  height: 25px;
  top: 32px;
  font-size: 20px;
  line-height: 25px;
}
// }
.column-u {
  position: relative;
  bottom: 300%;
}
.column-u h4 {
  width: 422.4px;
  height: 25px;
  top: 207px;
  left: 32px;
  font-weight: 500px;
  font-size: 20px;
  line-height: 25px;
  color: #FBFBF4;
  position: absolute;
  top: 70%;
}
.column-u p {
  width: 469px;
  height: 40px;
  top: 240px;
  left:32px ;
  font-weight: 400px;
  font-size: 16px;
  line-height: 20px;
  // font-family: Lexend;
  color: #FBFBF4;
  position: absolute;
  top: 80%;
}
.container-a {
  position: relative;
  text-align: left;
  // color: ;
}

.box-a img {
  width: 533px;
  height: 300px;
  border-radius: 24px;
  border: 1px;
  top: 81px;
  object-fit: cover;
}
.card-w {
  position: relative;
  width: 422px;
  height: 260px;
  border-radius: 24px;
}
.card-w .card-img-top{
  width: 422px;
  height: 260px;
  border-radius: 24px 24px 0px 0px;
  border: 1px;
  object-fit: cover;
  // object-position: center center;
  // object-fit: fill;
}
// .card {
//   object-fit: fill;
// }
.row-oneimg-colmun {
  position: relative;
  left: 400px;
}
.row-oneimg-colmun {
  color: #141414;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word
}

.image-container {
  position: relative;
  display: inline-block;
}
.row-oneimg-colmun button {
  padding: 10px 20px;
  background: #DE177C;
  border-radius: 24px;
  color: #FBFBF4;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 10px;
}
.row-oneimg-img {
  width: 1090px;
  height: 390px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 25.25);
  border-radius: 24px;
  overflow: hidden;
  border: 1px #C8C8C8 solid;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: rgba(53, 53, 53, 0.7);
  padding: 20px 40px 50px 39px;
  color: white;
}

.image-overlay h4,
.image-overlay p {
  margin: 0;
  font-family: "Lexend";
}

.row-oneimg p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(251, 251, 244, 1);
  width: 838px;
  word-wrap: break-word;
}
.container-d {
  width: 1090px;
  margin: 0 auto;
}

.title {
  color: #141414;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}

.member-card {
  width: 310px;
  height: 401px;
  margin-bottom: 32px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  overflow: hidden;
  border: 0.50px #C8C8C8 solid;
  background-image: url(https://via.placeholder.com/310x401);
}

.image {
  width: 310px;
  height: 401px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(7.44, 7.44, 7.44, 0.02) 74%, rgba(7.44, 7.44, 7.44, 0.37) 88%);
  border-radius: 24px;
}

.details {
  padding: 16px;
  color: #FBFBF4;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}

.name {
  font-weight: 500;
}

.view-more {
  padding: 10px;
  margin-left: auto;
  margin-right: 0;
  border-bottom: 1px #DE177C solid;
  color: #DE177C;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}
.container-f {
  width: 1440px;
  height: 314px;
  padding-left: 175px;
  padding-right: 175px;
  padding-top: 77px;
  padding-bottom: 77px;
  background: #29524A;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-shrink: 0;
}

.main-container {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: inline-flex;
}

.logo-container {
  height: 40px;
  position: relative;
}

.logo {
  left: 48px;
  top: 0px;
  color: #FBFBF4;
  font-size: 32px;
  font-family: Lexend;
  font-weight: 600;
  word-wrap: break-word;
}

.logo-icon {
  width: 40px;
  height: 40px;
  left: -50px;
  top: 2px;
  position: absolute;
}

.logo-icon div {
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #C8C8C8;
  border: 1px black solid;
}

.logo-icon div:last-child {
  left: 2px;
  top: 10px;
  color: black;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 600;
  word-wrap: break-word;
}

.description {
  width: 366px;
  color: #C8C8C8;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}

.social-icons {
  width: 256px;
  height: 40px;
  position: relative;
  gap: 8px;
}

.social-icon {
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  gap: 8px;
}

.social-icon div {
  width: 30px;
  height: 26px;
  background: #C8C8C8;
  gap: 8px;
}

.section-links {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
}

.section-title {
  color: #FBFBF4;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}

.section-link {
  color: #C8C8C8;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 400;
  word-wrap: break-word;
}
