<div style="padding-left: 110px; padding-right: 110px;">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column" style="padding-left: 255px;">
      <h3 class="card-title" style="padding-bottom: 20px;">Sign up:</h3>
                <div class="d-flex justify-content-between">
                  <div class="mb-3">
                    <!-- <label for="emailInput" class="form-label">Email address</label> -->
                    <input type="text" class="form-control" id="emailInput" placeholder="First name" style="padding: 10px 24px;color: #000; font-family: Lexend;font-size: 16px; font-style: normal;font-weight: 400;
                    line-height: normal;">
                  </div>
                  <div class="mb-3" style="padding-left:10px;">
                    <!-- <label for="emailInput" class="form-label">Email address</label> -->
                    <input type="text" class="form-control" id="emailInput" placeholder="Last name" style="padding: 10px 24px;color: #000; font-family: Lexend;font-size: 16px; font-style: normal;font-weight: 400;
                    line-height: normal;">
                  </div>
                </div>
                <div class="mb-3">
                  <!-- <label for="emailInput" class="form-label">Email address</label> -->
                  <input type="email" class="form-control" id="emailInput" placeholder="Email" style="padding: 10px 24px;color: #000; font-family: Lexend;font-size: 16px; font-style: normal;font-weight: 400;
                  line-height: normal;">
                </div>
                <div class="mb-3">
                  <!-- <label for="passwordInput" class="form-label">Password</label> -->
                  <input type="password" class="form-control" id="passwordInput" placeholder="Password" style="padding: 10px 24px;color: #000; font-family: Lexend;font-size: 16px; font-style: normal;font-weight: 400;
                  line-height: normal;">
                </div>
                <div class="mb-3">
                  <!-- <label for="passwordInput" class="form-label">Password</label> -->
                  <input type="password" class="form-control" id="passwordInput" placeholder="Repeat password" style="padding: 10px 24px;color: #000; font-family: Lexend;font-size: 16px; font-style: normal;font-weight: 400;
                  line-height: normal;">
                </div>
                <div style="width: 418px;padding-left: 50px; padding-top: 10px;">
                  <p>by clicking Sign up, you agree to House Of Colors’ User agreement, Privacy Policy and Cookies Policy.</p>
                </div>
                <div style="padding-left: 25px;padding-top: 10px;">
                  <img src="..//..//assets/Photos/Sign in button (1).svg">
                </div>
                <div style="padding-top: 20px; padding-left: 70px;">
                  <div style="width: 310px; height: 22px; position: relative">
                    <div style="left: 0px; top: 2px; position: absolute; color: black; font-size: 14px; font-family: Lexend; font-weight: 300; word-wrap: break-word">Already have an account? click here</div>
                    <div style="width: 23%; height: 22px; padding-left: 6px; padding-right: 6px; padding-top: 2px; padding-bottom: 2px; left: 253px; top: 0px; position: absolute; border-bottom: 1px #DE177C solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <button  style=" border: none;color: #DE177C; font-size: 14px; font-family: Lexend; font-weight: 300; word-wrap: break-word"(click)="navigateToSignIn()" >Sign in</button >
                    </div>
                  </div>
                  <!-- <div style="width: 185px; height: 22px; position: relative">
                    <div style="left: 0px; top: 1px; color: black; font-size: 14px; font-family: Lexend; font-weight: 300; word-wrap: break-word">Already have an account? click here </div>
                    <div style="   width: 40%; height: 22px; padding-left: 6px; padding-right: 6px;  padding-bottom: 2px; left: 123px; top: 0px; position: absolute; border-bottom: 1px #DE177C solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <button type="button"  style="border: none;color: #DE177C; font-size: 14px; font-family: Lexend; font-weight: 300;" (click)="navigateToSignUp()">Sign in</button>
                    </div>
                  </div> -->
                 </div>
                 <div style="display: flex; justify-content: center; align-items: center;padding-top: 20px; padding-right: 30px;">
                  <img src="..//assets/Photos/Group 222.svg">
                 </div>
                 <div style="display: flex; justify-content: center; align-items: center; padding-right: 30px; padding-top: 20px;">
                  <img src="..//..//assets/Photos/Google sign up button (1).svg">
                 </div>
    </div>
    <div style="padding-right: 350px;">
      <img src="..//..//assets/Photos/Large-modern-art-painting-called-Graduation-Day.jpg" style="width: 533px;height: 580px; object-fit: cover;">
    </div>
  </div>

</div>
