h3 {
  color: #000;

  /* H3/medium */
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p {
  color: #000;
  text-align: center;

  /* Secondray/Light */
  font-family: Lexend;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.container {
  padding-left: 110px;
  padding-right: 110px;
}

.card-content {
  display: flex;
  justify-content: space-between;
}

.form-column {
  flex: 1;
  padding-left: 255px;
}

.image-column {
  flex: 1;
  padding-right: 350px;
}

.card-title {
  padding-bottom: 20px;
}

.form-control {
  padding: 10px 24px;
  color: #000;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.join-us-text {
  width: 418px;
  padding-left: 50px;
  padding-top: 10px;
}

.already-have-account {
  width: 310px;
  height: 22px;
  position: relative;
}

.already-have-account-text {
  left: 0px;
  top: 2px;
  position: absolute;
  color: black;
  font-size: 14px;
  font-family: Lexend;
  font-weight: 300;
  word-wrap: break-word;
}

.sign-in-button {
  width: 23%;
  height: 22px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  left: 253px;
  top: 0px;
  position: absolute;
  border-bottom: 1px #DE177C solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.sign-in-button button {
  border: none;
  color: #DE177C;
  font-size: 14px;
  font-family: Lexend;
  font-weight: 300;
  word-wrap: break-word;
}

.centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-right: 30px;
}

.google-signup-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
  padding-top: 20px;
}

.main-image {
  width: 533px;
  height: 580px;
  object-fit: cover;
}

/* Media queries for different screen sizes */

/* Small screens */
@media only screen and (max-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .card-content {
    flex-direction: column;
  }

  .form-column,
  .image-column {
    padding: 0;
    margin-bottom: 20px;
  }

  .main-image {
    width: 100%;
    height: auto;
  }

  .join-us-text {
    width: auto;
    padding-left: 0;
    padding-top: 20px;
  }

  .already-have-account {
    width: auto;
    padding-left: 0;
    padding-top: 20px;
  }
}

/* Medium screens */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .main-image {
    width: 400px;
    height: auto;
  }
}
