<div style="padding-left: 220px; padding-right: 220px;">
  <div class="row row-oneimg">
    <div class="column row-oneimg-colmun">
      <h3>Current exhibitions</h3>
      <div class="image-container">
        <img class="row-oneimg-img" src="..//assets/Photos/Hero-Kids-Course-painting_printmaking.jpg">
        <div class="image-overlay d-flex">
          <div>
            <h4>The basics of paintings / Kids ( 3 - 6 ) years </h4>
            <p>The ground floor to help your kids discover the world of arts</p>
          </div>
          <button class="button">See more</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-oneimg">
    <div class="column row-oneimg-colmun">
      <div class="image-container">
        <img class="row-oneimg-img" src="..//assets/Photos/English-for-Kids-and-Teens-1080x675.jpg">
        <div class="image-overlay d-flex">
          <div>
            <h4>The improving of painting skills / Kids ( 7 - 11 ) years</h4>
            <p>Improve your kids’ skills in painting and light up the passion in them</p>
          </div>
          <button class="button">See more</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-oneimg">
    <div class="column row-oneimg-colmun">
      <div class="image-container">
        <img class="row-oneimg-img" src="..//assets/Photos/WhatsApp-Image-2022-05-31-at-1.07.43-PM.jpeg">
        <div class="image-overlay d-flex">
          <div>
            <h4>The touch of artist / Kids ( 12 - 16 ) years</h4>
            <p>Level up the skills to the artist level</p>
          </div>
          <div>
            <button class="button">See more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row row-card-img mt-4 mb-4 d-flex justify-content-between">
    <div class="row-k-div d-flex justify-content-between" style="padding-top: 60px;">
      <h3>Creative sessions</h3>
      <button class="row-k-bt">View more</button>
    </div>
    <p class="pargraph">From the influential Bauhaus to contemporary Cuba, centres for studying art have shaped global
      culture over the past century.
    </p>
    <div class="col-6">
      <div class="card card-w h-100">
        <img src="..//assets/Photos/6655-RCA-WORKSHOP-EZZIDIN-JPG_UPN.2e16d0ba.fill-1440x530.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Open creative session</h5>
          <p class="card-text">In open session participants spend the time the way the see it the best. There are no
            tasks or challenges.</p>
            <div>
              <a href="#" class="btn btn-primary btn-card" style="  text-align: center;">Learn more</a>

            </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card card-w h-100">
        <img src="..//assets/Photos/60321720_386077845449855_559125916396248125_n.jpg" class="card-img-top">
        <div class="card-body d-flex">
          <div>
            <h5 class="card-title">Challenging session</h5>
            <p class="card-text">Participants need to complete specific tasks in order to complete the session.
            </p>
          </div>
       
          <div>
            <a href="#" class="btn btn-primary btn-card" style="  text-align: center;">Learn more</a>

          </div>
                </div>
      </div>
    </div>
  </div>
  <div class="row row-k">
    <div class="row-k-div d-flex justify-content-between">
      <h3>Talks and conversations</h3>
      <button class="row-k-bt">View schedule</button>
    </div>
    <p class="pargraph">Join us in open sessions or lectures to discuses more about the world of art, with the help of
      many artists, professors and academics.
    </p>
    <div class="column col-4 colmun-k">
      <img src="..//assets/Photos/IMG_5171.jpeg" class="img-k">
      <h4>Art goal group</h4>
      <p>Talk session</p>
    </div>
    <div class="column col-4 colmun-k">
      <img src="..//assets/Photos/2_credit_Adam_Hollingworth.2e16d0ba.fill-878x472.jpg" class="img-k">
      <h4>Professor mark dean </h4>
      <p>Lecture</p>
    </div>
  </div>
</div>