.row-oneimg-colmun {
  position: relative;

}
.row-oneimg {
  width:100%;
  // padding-left: 140px;
  margin-top: 35px;
}

.row-oneimg-colmun {
  color: #141414;
  font-size: 20px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
}

.image-container {
  position: relative;
  display: inline-block;
}

.row-oneimg-colmun button {
  padding: 10px 20px;
  background: #DE177C;
  border-radius: 24px;
  color: #FBFBF4;
  font-size: 16px;
  font-weight: 500;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.row-oneimg-img {
  // margin-left: 220px;
  width: 1090px;
  height: 390px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 25.25);
  border-radius: 24px;
  overflow: hidden;
  border: 1px #C8C8C8 solid;
  object-fit: cover;
  background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}

.image-overlay {
  // margin-left: 225px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 40px 50px 39px;
  color: white;
  background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}

.image-overlay h4,
.image-overlay p {
  margin: 0;
  font-family: "Lexend";
  // background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}
.row-oneimg h3 {
  // margin-left: 220px;
  color: #141414;
/* Title */
text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
/* H3/medium */
font-family: Lexend;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.row-oneimg p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(251, 251, 244, 1);
  width: 838px;
  word-wrap: break-word;
  // background: var(--Liner-shade, linear-gradient(180deg, rgba(255, 255, 255, 0.00) 38.54%, rgba(7, 7, 7, 0.06) 60.82%, rgba(7, 7, 7, 0.45) 74.04%));
}
.container-a {
  position: relative;
  text-align: left;
  padding: 32px 0px;
}
.card-w {
  position: relative;
  width: 422px;
  height: 260px;
  border-radius: 24px;
  background: #FBFBF4;
}

.card-body h5 {
  color: var(--Brunswick-green, #29524A);
  /* H3/medium */
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-body p {
  color: #1C1C1C;

  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card-w .card-img-top {
  width: 422px;
  height: 260px;
  border-radius: 24px 24px 0px 0px;
  border: 1px;
  object-fit: cover;
}

.row-card-img {
  width: 100%;
}

.col-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  width: 131px;
  height: 40px;

  // margin-left: 65%;
  border-radius: 24px;
  background-color: #DE177C;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-size: 16px;
  font-family: Lexend;
  font-weight: 500;
  word-wrap: break-word;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex
}
.row-k-div h3 {
  margin-left: 40px;
  color: #141414;
  /* Title */
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  /* H3/medium */
  font-family: Lexend;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.row-k-bt {
  margin-right: 45px;
  color: #DE177C;
  /* Button/medium */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  word-wrap: break-word;
  border: none;
  width: 104px;
  height: 33px;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px #DE177C solid;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
  width: 133px;
}
.pargraph {
  // width: 1084px;
  color: var(--black-100, #141414);
  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 57px;
  margin-top: 20px;
}
.row-k {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.img-k {
  width: 310px;
  height: 401px;
  border-radius: 24px;
  object-fit: cover;
  margin-top: 50px;
  // margin-left: 15%;
  position: relative;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(7, 7, 7, 0.02) 74.31%, rgba(7, 7, 7, 0.37) 87.83%)  lightgray 50%;
}

.colmun-k h4 {
  position: absolute;
  bottom: 35px;
  color: #FBFBF4;
  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 350;
  line-height: normal;
  padding-left: 112px
}

.colmun-k p {
  position: absolute;
  bottom: 4px;
  padding-left: 112px;
  color: #FBFBF4;
  /* Body/regular */
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
