<div style="padding-left: 220px; padding-right: 220px;" class="img-right">
    <div class="d-flex">
        <img *ngIf="step==1" src="../../../../assets/Photos/Group 22.svg">
        <img *ngIf="step>1" src="../../../../assets/Photos/Group 22.svg">

        <img src="../../../../assets/Photos/Line 22.svg">

        <img *ngIf="step<2" src="../../../../assets/Photos/2 (1).svg">
        <img *ngIf="step==2" src="../../../../assets/Photos/2 (1).svg">
        <img *ngIf="step>2" src="../../../../assets/Photos/2 (1).svg">

        <img src="../../../../assets/Photos/Line 22.svg">

        <img src="../../../../assets/Photos/3.svg">
        <img src="../../../../assets/Photos/3.svg">
        <img src="../../../../assets/Photos/3.svg">

    </div>
    <div *ngIf="step==1">
        <h1>Course selection</h1>
        <div class="d-flex img-text" style="width: 1000px; height: 600px;">
            <div style="width: 50%;padding: 30px;">
                <h3>The improving of painting skills course</h3>
                <h5>Kids ( 7 - 11 ) years</h5>
                <p>Improve your kids’ skills in painting and light up the passion in them. With this course, your kids will
                    spend their time exploring different worlds of art along with other kids to improve their communication
                    and social skills on the way.
                </p>
                <p> The classes includes 10-12 kid at a time, giving them enough space to express their self's and ideas.
                    With the guide of the best teachers we have to ensure that your kids are having the best.
                </p>
                <p> when enrolling in our course, we providing a full set of art tools for your kids to use so we can make
                    every thing easier and smoother.
                </p>
                <h5>Course details:</h5>
                <p>Duration: 8 weeks
                    Session days: Monday, Wednesday, Friday
                    Available times: (12:00-2:00pm), (2:00-4:00pm), (4:00-6:00pm)
                    Enrollment fae: £300 per kid</p>
            </div>
            <div style="width: 50%" class="kid-img">
                <img src="../..//..//..//assets/Photos/Annotation 2023-11-16 185114.jpg"
                    >
            </div>
        </div>
    </div>
    </div>
    