<div style="padding-left: 110px; padding-right: 110px;">
  <div class="img-right">
    <div class="d-flex">
      <!-- <img *ngIf="step < 1" src="..//..//..//..//assets/Photos/"> -->
      <img *ngIf="step==1" src="../../../../assets/Photos/Group 22.svg">
      <img *ngIf="step>1" src="../../../../assets/Photos/Group 37.svg">

      <img src="../../../../assets/Photos/Line 22.svg">

      <img *ngIf="step<2" src="../../../../assets/Photos/Group 27.svg">
      <img *ngIf="step==2" src="../../../../assets/Photos/Group 26.svg">
      <img *ngIf="step>2" src="../../../../assets/Photos/Group 37.svg">

      <img src="../../../../assets/Photos/Line 22.svg">

      <img *ngIf="step<3" src="../../../../assets/Photos/Group 28.svg">
      <img *ngIf="step==3" src="../../../../assets/Photos/Group 30.svg">
      <img *ngIf="step>3" src="../../../../assets/Photos/Group 37.svg">

    </div>
    <div *ngIf="step==1">
      <h1>Course selection</h1>
      <div class="d-flex justify-content-between img-text" style="width: 1000px; height: 600px;">
        <div style="width: 50%;  margin-right : 50px;">
          <h3>The improving of painting skills course</h3>
          <h5>Kids ( 7 - 11 ) years</h5>
          <p>Improve your kids’ skills in painting and light up the passion in them. With this course, your
            kids
            will
            spend their time exploring different worlds of art along with other kids to improve their
            communication
            and social skills on the way.
          </p>
          <p> The classes includes 10-12 kid at a time, giving them enough space to express their self's and
            ideas.
            With the guide of the best teachers we have to ensure that your kids are having the best.
          </p>
          <p> when enrolling in our course, we providing a full set of art tools for your kids to use so we
            can
            make
            every thing easier and smoother.
          </p>
          <h5>Course details:</h5>
          <p>Duration: 8 weeks
            Session days: Monday, Wednesday, Friday
            Available times: (12:00-2:00pm), (2:00-4:00pm), (4:00-6:00pm)
            Enrollment fae: £300 per kid</p>
        </div>
        <div style="width: 50%">
          <img src="../..//..//..//assets/Photos/Annotation 2023-11-16 185114.jpg" class="kid-img">
        </div>
      </div>
      <div>
        <div class="row row-k">
          <div class=" d-flex justify-content-between" style="margin-bottom: 12px;">
            <h3>Photos from our courses:</h3>
            <button class="row-k-bt">View more</button>
          </div>
          <div class="d-flex justify-content-between">
            <div class="row">
              <div class="col-5">
                <img src="..//..//..//..//assets/Photos/IMG_1115.jpeg" class="kids" style="height: 100%;">
              </div>
              <div class="col-5">
                <img src="..//..//..//..//assets/Photos/download.jfif" class="colors">
                <div class="d-flex justify-content-between" style="margin-top: 24px">
                  <img src="..//..//..//..//assets/Photos/rm176-e61eea6b-a5a1-425f-a6e6-90d0842462d9-v2.jpg"
                    class="kids2" style="width: 50%; padding-right: 12px;">
                  <img src="..//..//..//..//assets/Photos/draw.jpg" class="draw" style="width: 50%;padding-left: 12px;">
                </div>
              </div>
              <div class="col-2">
                <img src="..//..//..//..//assets/Photos/71Wl7JioHOS.jpg" class="chairs" style="height: 50%;">
                <img src="..//..//..//..//assets/Photos/How-to-Use-Oil-Pastels-768x512.jpg" class="oil-pastels"style="height: 50%;padding-top:24px">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step==2">
    <h3 class="confirm" style=" display: flex; justify-content: center; align-items: center; text-align: center; padding-left: 90px">
      Filling information</h3>
    <div class="d-flex justify-content-between">
      <div class="card"
        style="width: 470px;  height: 583px; margin-top: 50px; display: inline-flex; padding: 32px 24px; align-items: flex-start; gap: 10px;">
        <div class="container">
          <form class="form-signup">
            <h2 class="heads">Your information :</h2>
            <div class="form-group">
              <div class="row">
                <div class="col-md-4 " style="padding-top: 20px">
                  <input type="text" class="First" name="firstname" placeholder="First Name">
                </div>
                <div class="col-md-4 " style="padding-left: 93px; padding-top: 20px">
                  <input type="text" class="First" name="lastname" placeholder="Last Name">
                </div>
              </div>
            </div>
            <div class="form-group" style="padding-top: 10px">
              <input type="email" class="Email" name="email" placeholder="Email Address">
              <p class="Pargraph">confirm email goes to this address</p>
            </div>
            <div class="form-group" style="padding-top: 10px">
              <input type="text" class="Email" name="phonenumber" placeholder="Phone Number">
              <p class="Pargraph">needed by the gallery to contact you in case of emergency</p>
            </div>
            <div class="form-group" style="padding-top: 10px">
              <input type="text" class="Email" name="adress" placeholder="Address">
            </div>
            <div class="form-group" style="padding-top: 10px">
              <input type="text" class="Email" name="creditcardbrand" placeholder="Credit Card Brand">
            </div>
            <div class="form-group" style="padding-top: 10px">
              <input type="text" class="Email" name="creditcardnumber" placeholder="Credit Card Number">
            </div>
            <div class="row">
              <div class="col-md-6" style="padding-top: 10px">
                <input type="text" class="Date" name="carddate" placeholder="Card date">
              </div>
              <div class="col-md-6" style="padding-top: 10px">
                <input type="text" class="Date" name="cv" placeholder="CV">
              </div>
            </div>
          </form>
        </div>
      </div>
      <div></div>
      <div class="card"
        style="display: inline-flex; margin-top: 50px; height: 542px; padding: 32px 24px; align-items: flex-start; gap: 10px; left: 130px;">
        <h3>KIDS information:</h3>
        <div class="d-flex justify-content-between">
          <h5>Kids number:</h5>
          <div class="form-check form-check-inline" style="padding-left: 40px; margin-top: 3px;">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline" style=" margin-top: 0px; margin-bottom: 15px; margin-right: 5px;">
            <img src="..//..//..//..//assets/Photos/Ellipse 12.svg" name="inlineRadioOptions" id="inlineRadio2"
              value="option2">
            <!-- <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> -->
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline" style=" margin-top: 5px; margin-left: 15px; margin-right: 0rem;">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
        </div>
        <div style="padding-left: 115px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="2" viewBox="0 0 200 2" fill="none">
            <path d="M1 1L199 1.00002" stroke="#C8C8C8" stroke-linecap="round" />
          </svg>
        </div>
        <div>
          <h3 class="head">First Kid:</h3>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 " style="padding-top: 20px">
                <input type="text" class="First" name="firstname" placeholder="First Name">
              </div>
              <div class="col-md-4 " style="padding-left: 93px; padding-top: 20px">
                <input type="text" class="First" name="lastname" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="form-group" style="padding-top: 10px">
            <input type="text" class="First" name="email" placeholder="Age">
          </div>
        </div>
        <div style="padding-left: 115px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="200" height="2" viewBox="0 0 200 2" fill="none">
            <path d="M1 1L199 1.00002" stroke="#C8C8C8" stroke-linecap="round" />
          </svg>
        </div>
        <div>
          <h3 class="head">Second Kid:</h3>
          <div class="form-group">
            <div class="row">
              <div class="col-md-4 " style="padding-top: 20px">
                <input type="text" class="First" name="firstname" placeholder="First Name">
              </div>
              <div class="col-md-4 " style="padding-left: 93px; padding-top: 20px">
                <input type="text" class="First" name="lastname" placeholder="Last Name">
              </div>
            </div>
          </div>
          <div class="form-group" style="padding-top: 10px">
            <input type="text" class="First" name="email" placeholder="Age">
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="step==3">
    <h3 class="confirm">Confirming</h3>
    <div class="d-flex justify-content-between">
      <div class="card card-info">
        <h2 class="heads">YOUR information:</h2>
        <div class="col">
          <div class="regeist" style="padding-top: 10px;">
            <p>Full name:&nbsp;&nbsp;&nbsp;Jack Rosond</p>
            <p>Email:&nbsp;&nbsp;&nbsp;Jackrosond80X@gmail.com <span><img
                  src="..//..//..//..//assets/Photos/Group 35.svg"></span></p>
            <p>Phone number:&nbsp;&nbsp;&nbsp;+44 7405 837468</p>
            <p>Address:&nbsp;&nbsp;&nbsp;103 Borough Rd, London SE1 0AA</p>
            <p>Credit card brand:&nbsp;&nbsp;&nbsp;Voyager</p>
            <p>Credit card number:&nbsp;&nbsp;&nbsp;8699518622562833 </p>
            <p>Card date:&nbsp;&nbsp;&nbsp;2031/10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CVV:783</p>
          </div>
          <h2 class="heads" style="padding-top: 20px;">KIDS information:</h2>
          <div class="regeist">
            <p>First kid:&nbsp;&nbsp;&nbsp;Mylee Rosond / 10 years</p>
            <p>Second kid:&nbsp;&nbsp;&nbsp;Lara Rosond / 8 years</p>
          </div>
        </div>

      </div>
      <div class="card card-price">
        <div>
          <h4>price summary</h4>
          <p>Price per kid enroll&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;£300</p>
          <p>Price for your kids enroll&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;£600</p>
          <h4>your price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;£600</h4>
        </div>

      </div>
      <div>

      </div>
    </div>
  </div>
  <div *ngIf="step>3">
    <h3 class="confirm">Confirming</h3>
    <div class="d-flex justify-content-between">
      <div class="card card-info">
        <h2 class="heads">YOUR information:</h2>
        <div class="col">
          <div class="regeist" style="padding-top: 10px;">
            <p>Full name:&nbsp;&nbsp;&nbsp;Jack Rosond</p>
            <p>Email:&nbsp;&nbsp;&nbsp;Jackrosond80X@gmail.com <span><img
                  src="..//..//..//..//assets/Photos/Group 35.svg"></span></p>
            <p>Phone number:&nbsp;&nbsp;&nbsp;+44 7405 837468</p>
            <p>Address:&nbsp;&nbsp;&nbsp;103 Borough Rd, London SE1 0AA</p>
            <p>Credit card brand:&nbsp;&nbsp;&nbsp;Voyager</p>
            <p>Credit card number:&nbsp;&nbsp;&nbsp;8699518622562833 </p>
            <p>Card date:&nbsp;&nbsp;&nbsp;2031/10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CVV:783</p>
          </div>
          <h2 class="heads" style="padding-top: 20px;">KIDS information:</h2>
          <div class="regeist">
            <p>First kid:&nbsp;&nbsp;&nbsp;Mylee Rosond / 10 years</p>
            <p>Second kid:&nbsp;&nbsp;&nbsp;Lara Rosond / 8 years</p>
          </div>
        </div>

      </div>
      <div class="card card-price">
        <div>
          <h4>price summary</h4>
          <p>Price per kid enroll&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;£300</p>
          <p>Price for your kids enroll&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;£600</p>
          <h4>your price&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;£600</h4>
        </div>

      </div>
      <div>

      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between" style="margin-top: 30px;">
    <button class="back" (click)="prev()"><i class="bi bi-arrow-left"></i>Back</button>
    <button class="continue" (click)="next()">Continue</button>
  </div>
</div>
