<div style="padding-left: 110px; padding-right: 110px;">
  <div class="d-flex justify-content-between">
    <div class="d-flex flex-column" style="padding-left: 255px;">
      <h3 class="card-title" style="padding-bottom: 20px;">Sign in:</h3>
                <div class="mb-3">
                  <input type="email" class="form-control" id="emailInput" placeholder="Email" style="padding: 10px 24px;color: #000; font-family: Lexend;font-size: 16px; font-style: normal;font-weight: 400;
                  line-height: normal;">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" id="passwordInput" placeholder="Password" style="padding: 10px 24px;color: #000; font-family: Lexend;font-size: 16px; font-style: normal;font-weight: 400;
                  line-height: normal;">
                </div>
                <div style="padding-bottom: 10px;">
                  <img src="..//..//.//..//assets/Photos/Group 21 (1).svg">
                </div>
                <div style="padding-left: 0px;padding-top: 10px;">
                  <img src="..//..//assets/Photos/Sign in button (2).svg">
                </div>
                <div style="padding-top: 20px; padding-left: 10px;">
                  <div style="width: 387px; height: 22px; position: relative">
                    <div style="left: 0px; top: 2px; position: absolute; color: black; font-size: 14px; font-family: Lexend; font-weight: 300; word-wrap: break-word">New here? Join us and enjoy in the world of art</div>
                    <div style="width: 24%; height: 22px; padding-left: 6px; padding-right: 6px; padding-top: 2px; padding-bottom: 2px; left: 325px; top: 0px; position: absolute; border-bottom: 1px #DE177C solid; justify-content: center; align-items: center; gap: 10px; display: inline-flex">
                      <button  style=" border: none;color: #DE177C; font-size: 14px; font-family: Lexend; font-weight: 300; word-wrap: break-word"(click)="navigateToSignUp()" >Sign up</button >
                    </div>
                  </div>
                 </div>
                 <div style="display: flex; justify-content: center; align-items: center;padding-top: 20px; padding-right: 30px;">
                  <img src="..//assets/Photos/Group 222.svg">
                 </div>
                 <div style="display: flex; justify-content: center; align-items: center; padding-right: 30px; padding-top: 20px;">
                  <img src="..//..//assets/Photos/Google sign up button (1).svg">
                 </div>
    </div>
    <div style="padding-right: 350px;">
      <img src="..//..//assets/Photos/Large-modern-art-painting-called-Graduation-Day.jpg" style="width: 533px;height: 580px; object-fit: cover;">
    </div>
  </div>

</div>
