/* You can add global styles to this file, and also import other style files */
:root {
    --dark-color: #29524A;
    --light-color: #C8C8C8;
    --pink-color:#DE177C;
    --white-color:#FBFBF4;
    --landing-color:#0C9A7E;
}
body {
    font-family: Lexend;
    line-height:  20px;
    // height: 10000px;
    padding: 0;
    margin: 0;
}
